@media only screen and (max-width: 374px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 0px;
        width: 0px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger {
        background-color: #000000; /* Green */
        border: none;
        padding: 15px 32px;
        fill: #ff0000;
        margin-top: -100px;
    }
    
    .profile {
      visibility: hidden;
    }

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 15px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 50%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }

    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 100%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 10px;
    }

    td{
        padding-left: 10px;
    }
    
    .checkbox{
        width: 20px;
        height: 20px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 4px 9px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 4px 9px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
        font-size: 12px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }

    
}

@media only screen and (min-width: 374px) and (max-width: 424px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 0px;
        width: 0px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger {
        background-color: #000000; /* Green */
        border: none;
        padding: 15px 32px;
        fill: #ff0000;
    }
    
    .profile {
      visibility: hidden;
    }

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 16px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 70%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }
    
    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 90%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 10px;
    }

    td{
        padding-left: 10px;
    }

    
    .checkbox{
        width: 25px;
        height: 25px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 15px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 4px 9px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 4px 9px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
        font-size: 13px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
}

@media only screen and (min-width: 425px) and (max-width: 484px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 0px;
        width: 0px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger {
        background-color: #000000; /* Green */
        border: none;
        padding: 15px 32px;
        fill: #ff0000;
    }
    
    .profile {
      visibility: hidden;
    }

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 22px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 70%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }
    
    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 90%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 16px;
    }

    td{
        padding-left: 10px;
    }

    
    .checkbox{
        width: 26px;
        height: 26px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 4px 9px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 4px 9px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
        font-size: 18px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
}

@media only screen and (min-width: 485px) and (max-width: 574px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 0px;
        width: 0px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger {
        background-color: #000000; /* Green */
        border: none;
        padding: 15px 32px;
        fill: #ff0000;
        margin-left: 20%;
        size: 100px;
        margin-top: 13px;
    }
    
    .profile {
      visibility: hidden;
    }

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 25px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 70%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }
    
    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 90%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 17px;
    }

    td{
        padding-left: 10px;
    }

    
    .checkbox{
        width: 26px;
        height: 26px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 4px 9px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 4px 9px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
        font-size: 21px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }    
}

@media only screen and (min-width: 575px) and (max-width: 674px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 0px;
        width: 0px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger {
        background-color: #000000; /* Green */
        border: none;
        padding: 15px 32px;
        fill: #ff0000;
        margin-top: 30px;
        margin-left: 20%;
    }
    
    .profile {
      visibility: hidden;
    }

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 28px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 70%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }
    
    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 90%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 18px;
    }

    td{
        padding-left: 10px;
    }

    
    .checkbox{
        width: 28px;
        height: 28px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 4px 9px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 4px 9px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
        font-size: 20px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }    
}

@media only screen and (min-width: 675px) and (max-width: 749px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 0px;
        width: 0px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger {
        background-color: #000000; /* Green */
        border: none;
        padding: 15px 32px;
        fill: #ff0000;
        margin-left: 20%;
        size: 100px;
        margin-top: 40px;
    }
    
    .profile {
      visibility: hidden;
    }

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 30px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 70%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }
    
    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 90%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 20px;
    }

    td{
        padding-left: 10px;
    }

    
    .checkbox{
        width: 30px;
        height: 30px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 4px 9px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 21px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 4px 9px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 21px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
        font-size: 21px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1000px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 75px;
        width: 250px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger{
        display: none;
        height: 0px;
        width: 0px;
      }
    
    .profile{
      background-color: black; /* Green */
      color: white;
      padding: 15px 32px;
      border: 2px solid #ffffff;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 1000;
      border-radius: 10px;
      font-family: 'Saira', sans-serif;
      transition: 0.3s;
      margin-right: 10px;
    }
    
    .profile:hover{
      background-color: #ffffff;
      color: #000000;
    }
    

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 35px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 70%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }
    
    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 90%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 20px;
    }

    td{
        padding-left: 10px;
    }

    
    .checkbox{
        width: 30px;
        height: 30px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 4px 9px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 21px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 4px 9px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 21px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
        font-size: 20px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1534px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 75px;
        width: 400px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger{
        display: none;
        height: 0px;
        width: 0px;
      }
    
    .profile{
      background-color: black; /* Green */
      color: white;
      padding: 15px 32px;
      border: 2px solid #ffffff;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 1000;
      border-radius: 10px;
      font-family: 'Saira', sans-serif;
      transition: 0.3s;
      margin-right: 10px;
    }
    
    .profile:hover{
      background-color: #ffffff;
      color: #000000;
    }
    

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 35px;
        color: #ffffff;
    }
    
    .BG{
        background-size: cover; 
        display: flex;
        width: 100%;
        padding-left: 30px;
        font-family: 'Saira', sans-serif;
        height: 100%;
        animation: slidingBG 30s linear infinite 0s;
        animation-timing-function: ease-in-out;
        background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
    }
    
    @keyframes slidingBG{
        0% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }

        25% {
            background-image: url(https://images.wallpaperscraft.com/image/single/lemon_glass_water_spray_106738_1920x1080.jpg);
        }

        50% {
            background-image: url(https://images.wallpaperscraft.com/image/single/corn_cob_grill_142619_1920x1080.jpg)
        }

        75% {
            background-image: url(https://images.wallpaperscraft.com/image/single/pepper_spray_water_123557_1920x1080.jpg);
        }

        100% {
            background-image: url(https://images.wallpaperscraft.com/image/single/cup_tea_flowers_151673_1920x1080.jpg);
        }
    }

    .innerform{
        background-color: rgb(0, 0, 0, 0.2);
        width: 60%;
        height: 60%;
        border-radius: 8px;
    }
    
    .contents{
        margin-left: 10px;
        color: #ffffff;
        opacity: 100%;
    }
    
    input{
        border-radius: 10px;
        background-color: rgba(73, 73, 73, 0.2);
        display: block;
        height: 50px;
        width: 90%;
        opacity: 100%;
        border: none;
        padding-left: 10px;
        color: rgb(255, 255, 255);
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(158, 158, 158);
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgb(158, 158, 158);
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgb(158, 158, 158);
      }      
    
    input:focus{
        border: 1px solid rgb(255, 255, 255);
    }

    .terms_condition_table{
        font-size: 18px;
    }

    td{
        padding-left: 10px;
    }
    
    .checkbox{
        width: 33px;
        height: 33px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 25px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 7px 15px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 7px 15px;
        border-radius: 10px;
        font-family: 'Saira', sans-serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }

    .form-headings{
        font-weight: 700;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
    
}

@media only screen and (min-width: 1535px) and (max-width: 2000px){
    header{
        background-color: rgb(0, 0, 0);
        height: 120px;
      }
      
      .img-name{
        height: 75px;
        width: 250px;
      }
    
      .img-logo{
        margin-left: 10%;
        height: 75px;
        width: 75px;
      }
    
      .profile-burger{
        display: none;
        height: 0px;
        width: 0px;
      }
    
    .profile{
      background-color: black; /* Green */
      color: white;
      padding: 15px 32px;
      border: 2px solid #ffffff;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 1000;
      border-radius: 10px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      transition: 0.3s;
      margin-right: 10px;
    }
    
    .profile:hover{
      background-color: #ffffff;
      color: #000000;
    }
    

    body{
        background-color: rgb(0, 0, 0);
    }

    .form-h1{
        font-size: 50px;
    }
    
    .BG{
        background-image: url("https://img.freepik.com/free-vector/food-doodle-set_160308-239.jpg?w=2000");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    
    .innerform{
        background-color: rgb(255, 255, 255);
        opacity: 97%;
        width: 75%;
        height: 60%;
        border-radius: 8px;
        box-shadow: 0 0 20px rgb(173, 173, 173)
    }
    
    .contents{
        margin-left: 10px;
    }
    
    input{
        border-radius: 5px;
        background-color: rgb(231, 230, 230);
        display: block;
        height: 60px;
        width: 95%;
        border: none;
        padding-left: 10px;
    }
    
    input:focus{
        border: 1px solid black;
    }

    .terms_condition_table{
        font-size: 30px;
    }
    
    .checkbox{
        width: 50px;
        height: 50px;
        appearance: none;
        border: 1px solid #ff0000;
        border-radius: 4px;
        position: relative;
    }
    
    .checkbox:checked:after {
        content: '\2713';
        color: rgb(255, 0, 0);
        font-size: 35px;
        position: absolute;
        top: 0;
        left: 3px;
    }
    
    .submit {
        background-color: #f50707; /* Green */
        border: none;
        color: white;
        padding: 8px 20px;
        border: 1px solid #ff0000;
        text-align: center;
        border-radius: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        transition: 0.3s;
    }
      
    .signin{
        background-color: #ffffff;
        border: none;
        color: rgb(255, 0, 0);
        border: 1px solid #ff0000;
        padding: 8px 20px;
        border-radius: 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        transition: 0.3s;
    }
    
    .a-login{
        color: red;
        font-weight: 400;
    }
    
    .a-login:hover{
        color: #ff0000;
    }
    
    .form-headings{
        font-weight: 500;
        font-size: 30px;
    }
    
    /* for footer */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .list{
        list-style: none;  /*removes dots in fornt of lists*/
    }
    .container{
        max-width: 1200px;
        margin: auto;
        color: rgb(236, 234, 233);
    }
    .footer{
        padding: 80px;
        background-color: rgb(54, 54, 54);
    }
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer-col{
        width: 25%;   
        padding: 0 15px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
    
}


/*
header{
    background-color: black;
}

.profile{
    background-color: black; /* Green 
    color: white;
    padding: 15px 32px;
    border: 2px solid #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 1000;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .profile:hover{
    background-color: #ffffff;
    color: #000000;
  }

/* CURTAIN MENU*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.6s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: 'Saira', sans-serif;
    color: #ffffff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #ff0000;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}


